.main_chat_div{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 20%;
}

.messages_div{
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  min-height: 400px;
  max-height: 500px;
  padding: 0 10px 0 0;
  border: 1px solid black;
}
.messages_div>ul{
  padding: 0 0 0 30px;
}

.send_message_div{
  width: 100%;
  display: flex;
  justify-content: center;
}
.send_message_div>input{
  flex: 1;
}
.send_message_div>button{
  padding: 0 10px;
  background-color: white;
  border: 1px solid black;
}